<header>
  <div class="container">
    <a href="#" class="logo">myApp</a>
    <nav>
      <ul>
        <li>
          <div class="navcard" tabindex="0">
            <a href="#" routerLink="/">Home </a>
          </div>
        </li>
        <li>
          <div class="navcard" tabindex="0">
            <a href="#" routerLink="/list">API List</a>
          </div>
        </li>
        <li>
          <div class="navcard" tabindex="0">
            <a href="#" routerLink="/nav">navBar</a>
          </div>
        </li>
        <li>
          <div class="navcard" tabindex="0">
            <a href="#" routerLink="/promise">Promise</a>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</header>
<div class="container">
  <router-outlet></router-outlet>
</div>
